**Exercise 2: Create a Jupyter Notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
* Python
* R
* Julia

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:
- numpy
- matplotlib
- scikit-learn

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
|-|
|Apache Hadoop|
 |Apache Spark|
 |Jupiter Notebook|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers**

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours,'hours')

3.3333333333333335 hours

**Exercise 10 - Insert a markdown cell to list Objectives**

**list example Objectives:**
* Create a markdown cell for an introduction
* Create a markdown cell to list data science languages
* Create a code cell to multiply and add numbers

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author
Bui Quang Hai